fastapi
uvicorn[standard]
websockets
numpy
librosa
soundfile
pydantic
python-multipart
python-dotenv
livekit==1.0.8
livekit-agents==1.0.23
livekit-api==1.0.2
livekit-plugins-cartesia==1.0.23
livekit-plugins-deepgram==1.0.23
livekit-plugins-elevenlabs==1.0.23
livekit-plugins-noise-cancellation==0.2.4
livekit-plugins-openai==1.0.23
livekit-plugins-silero==1.0.23
livekit-plugins-turn-detector==1.0.23
livekit-plugins-tavus
livekit-protocol==1.0.3
tensorflow
